<!-- 
   -->
  
    <!-- <li> <button class="login-btn" routerLink="login">Login</button></li> 
    -->
   <!-- <li><a href="login">login</a></li> -->
   <!-- <div class="container">
    <header>
       <div class="container" style="align-items: first baseline;">
        <nav>
            <ul>
              
              <li> <button class="login-btn" routerLink="home">HOME</button></li> 
              <li> <button class="login-btn" routerLink="*">CATEGORY</button></li> 
             <li> <button class="login-btn" routerLink="">STORES</button></li> 
              <li><a href="#">TOP COUPENS</a></li>
              <li><a href="#">FEATURED COUPENS</a></li>
              <li><a href="#">NEWS</a></li>
            </ul>
          </nav>
       </div>
      
    </header>-->
    <!-- <div class="container"> 
        <h1>Find the best deals in india</h1>
        <form>
          <input type="text" placeholder="Search products..." [(ngModel)]="searchTerm" name="searchTerm">
          <button type="submit" (click)="search()">Search</button>
        </form>
      </div>
     <h1>CollegeDunia Online Shopping</h1>  -->

    <!-- <section class="banner">
      <h2>Find the best deals in india </h2>
      <p>Discover the best deals on the latest fashion, electronics, home goods, and more!</p>
      <button>Shop Now</button>
     </section> -->
     <!-- <div class="bg">

      <nav class="navbar navbar-expand-lg navbar-light bg-black">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="#">Zoutons.com</a>
    
    
    
          <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
    
    
          <div class="d-grid gap-3 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2" type="button" href="login">LOGIN</button>
            <div class="dropdown d-md-flex justify-content-md-end">
              <button class="btn1 btn-secondary dropdown-toggle" type="button"
                id="dropdownMenu2" data-bs-toggle="dropdown"
                aria-expanded="false">Country</button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><button class="dropdown-item" type="button">India</button></li>
                <li><button class="dropdown-item" type="button">USA</button></li>
                <li><button class="dropdown-item" type="button">UAE</button></li>
              </ul>
            </div>
          </div>
        </div>
    
      </nav>
    
      <div class="width-100">
        <div class="container">
          <ul class="main-menu ">
            <li><a href="home">HOME</a></li>
            <li><a href="#">CATEGORIES</a></li>
            <li><a href="#">STORES</a></li>
            <li><a href="#">TOP COUPONS</a></li>
            <li><a href="#">FEATURED COUPONS</a></li>
            <li><a href="#">NEWS</a></li>
          </ul>
        </div>
      </div>
      <br> <br> <br>
    
      <h2 style="color: rgb(235, 230, 230); text-align: center;">Find the best deals
        today in India</h2>
    
      <div class="search-container">
        <input type="text" name="query"
          placeholder="Search for coupons, deals and stores"
          class="search-input">
        <button type="submit" class="search-button">Search</button>
      </div>
    <br><br>
      <nav class="navbar2 navbar-expand-lg navbar-light ">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="#">FEATURED STORES</a>
          <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          
                  
          </div>
          <div class="gallery">
            <figure class="gallery__item gallery__item--1">
            <a href="https://www.lenovo.com">
              <img src="lenovo.png" class="gallery__img" alt="Image 1"></a>
            </figure>
            <figure class="gallery__item gallery__item--2">
            <a href="https://www.udemy.com">
              <img src="images/udemy.jpg" class="gallery__img" alt="Image 2"></a>
            </figure>
            <figure class="gallery__item gallery__item--3">
            <a href="https://www.boat-lifestyle.com">
              <img src="C:/Users/Admin/Collegedunia/src/assets/boat.png" class="gallery__img" alt="Image 3"></a>
            </figure>
            <figure class="gallery__item gallery__item--4">
            <a href="https://www.hp.com">
              <img src="images/hp.png" class="gallery__img" alt="Image 4"></a>
            </figure>
            <figure class="gallery__item gallery__item--5">
            <a href="https://www.amazon.com">
              <img src="images/amazon.png" class="gallery__img" alt="Image 5"></a>
            </figure>
            <figure class="gallery__item gallery__item--6">
              <img src="src/assets/adidas.png" class="gallery__img" alt="Image 1">
            </figure>
            <figure class="gallery__item gallery__item--7">
              <img src="images/Nykaa.jpg" class="gallery__img" alt="Image 1">
            </figure>
            <figure class="gallery__item gallery__item--8">
              <img src="images/ajio.png" class="gallery__img" alt="Image 1">
            </figure>
            <figure class="gallery__item gallery__item--9">
              <img src="images/godaddy.png" class="gallery__img" alt="Image 1">
            </figure>
            <figure class="gallery__item gallery__item--10">
              <img src="images/hostinger.png" class="gallery__img" alt="Image 1">
            </figure>
            <figure class="gallery__item gallery__item--11">
              <img src="src/assets/agoda.png" class="gallery__img" alt="Image 1">
            </figure>
            <figure class="gallery__item gallery__item--12">
              <img src="images/dell.png" class="gallery__img" alt="Image 1">
            </figure>
            <figure class="gallery__item gallery__item--13">
              <img src="isrc/assets/geeks.jpg" class="gallery__img" alt="Image 1">
            </figure>
            <figure class="gallery__item gallery__item--14">
              <img src="images/booking.png" class="gallery__img" alt="Image 1">
            </figure>
            <figure class="gallery__item gallery__item--15">
              <img src="images/thesleep.png" class="gallery__img" alt="Image 1">
            </figure>
          -->

       
  <router-outlet></router-outlet> 